<template>
    <div class="pt-5 text-center">
        <bm-spinner class="pt-3" />
    </div>
</template>

<script>
import { BmSpinner } from "@bluemind/styleguide";
export default {
    name: "FolderResultSpinner",
    components: {
        BmSpinner
    }
};
</script>

<style></style>
