<template>
    <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center h3">
        <div class="py-5 w-100 px-3">
            <slot />
        </div>
        <div
            v-if="image"
            class="empty-folder-illustration"
            :style="'background: url(' + image + ') no-repeat center top'"
        />
    </div>
</template>

<script>
export default {
    name: "MailConversationListEmpty",
    props: {
        image: {
            type: String,
            required: false,
            default: null
        }
    }
};
</script>

<style scoped>
.empty-folder-illustration {
    flex: auto 1 1;
    width: 100%;
}
</style>
