<template>
    <div class="mail-thread d-flex flex-column">
        <bm-alert-area :alerts="alerts" @remove="REMOVE">
            <template v-slot="context">
                <component :is="context.alert.renderer" :alert="context.alert" />
            </template>
        </bm-alert-area>
        <mail-conversation-viewer :conversation="CURRENT_CONVERSATION_METADATA" />
        <div />
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";

import { INFO, REMOVE } from "@bluemind/alert.store";
import { BmAlertArea } from "@bluemind/styleguide";

import { SET_BLOCK_REMOTE_IMAGES } from "~/mutations";
import { CURRENT_CONVERSATION_METADATA } from "~/getters";
import BlockedRemoteContent from "./Alerts/BlockedRemoteContent";
import VideoConferencing from "./Alerts/VideoConferencing";
import MailConversationViewer from "../MailViewer/MailConversationViewer";

export default {
    name: "MailThread",
    components: { BlockedRemoteContent, BmAlertArea, MailConversationViewer, VideoConferencing },
    computed: {
        ...mapState("mail", ["folders"]),
        ...mapGetters("mail", { CURRENT_CONVERSATION_METADATA }),
        ...mapState({ alerts: state => state.alert.filter(({ area }) => area === "right-panel") }),
        folder() {
            return this.CURRENT_CONVERSATION_METADATA && this.folders[this.CURRENT_CONVERSATION_METADATA.folderRef.key];
        },
        readOnlyAlert() {
            return {
                alert: { name: "mail.READ_ONLY_FOLDER", uid: "READ_ONLY_FOLDER" },
                options: { area: "right-panel", renderer: "DefaultAlert" }
            };
        }
    },
    watch: {
        "folder.key": {
            handler() {
                if (this.folder && !this.folder.writable) {
                    this.INFO(this.readOnlyAlert);
                } else {
                    this.REMOVE(this.readOnlyAlert.alert);
                }
            },
            immediate: true
        },
        "CURRENT_CONVERSATION_METADATA.key"() {
            this.SET_BLOCK_REMOTE_IMAGES(false);
        }
    },
    methods: {
        ...mapMutations("mail", { SET_BLOCK_REMOTE_IMAGES }),
        ...mapActions("alert", { REMOVE, INFO })
    }
};
</script>
<style lang="scss">
@import "~@bluemind/styleguide/css/_variables";

.mail-thread {
    .mail-composer ~ .mail-viewer {
        @media (max-width: map-get($grid-breakpoints, "lg")) {
            display: none !important;
        }
    }

    .mail-composer {
        @media (min-width: map-get($grid-breakpoints, "lg")) {
            height: auto !important;
        }
    }
}
</style>
