<?xml version="1.0" encoding="UTF-8"?>

<?xml-stylesheet href="chrome://global/skin/"?>
<window id="BMRemoteChooser"
        xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
        xmlns:html="http://www.w3.org/1999/xhtml"
        title="__BM_bm.remotechooser.title__"
        onload="gBMRemoteChooser.loadWindow();"
        onkeypress="if (event.keyCode == event.DOM_VK_ESCAPE) { window.close(); }"
        persist="screenX screenY">
    <script type="application/x-javascript" src="chrome://bm/content/fileProvider/remoteChooser.js" />
    <script type="application/x-javascript" src="chrome://bm/content/apply-locales.js" />
    <vbox flex="1">
        <browser id="remote-browser"
                 autofind="false"
                 flex="1"
                 type="content-primary"
                 disablesecurity="true" />
    </vbox>
</window>
