.ac-renderer {
  position: absolute;
  left: 220px;
  z-index: 10;
  background: #FFF;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}

.ac-row {
  cursor: pointer;
  padding: 0.4em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #d6e9f8;
}

