.invitationList {
	background: #FFF;
	border: 1px solid #666;
	-moz-box-shadow: 0 2px 10px #666;
	-webkit-box-shadow: 0 2px 10px #666;
	box-shadow: 0 2px 14px #666;
	width: 400px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.invitationList table {
	width: 100%;
	border-collapse: collaspse;
	border-spacing: 0px;
}

.invitationList input {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	vertical-align: top;
}

.footer {
	border-top: 1px solid #CCC;
	background: #F8F8F8;
	padding: 4px;
}

.header {
	border-bottom: 1px solid #CCC;
	background: #F8F8F8;
	padding: 4px;
	font-weight: bold;
}

.form {
	padding: 4px;
}