<template>
    <div class="mail-folder-tree">
        <bm-button
            variant="inline-info-dark"
            class="collapse-tree-btn d-flex align-items-center pb-2 pt-3 border-0 pl-2 w-100"
            :aria-controls="'collapse-tree-' + name"
            :aria-expanded="isTreeExpanded"
            @click.stop="isTreeExpanded = !isTreeExpanded"
        >
            <bm-icon :icon="isTreeExpanded ? 'caret-down' : 'caret-right'" size="sm" class="bm-icon mr-2" />
            <span class="font-weight-bold">{{ name }}</span>
        </bm-button>
        <bm-collapse :id="'collapse-tree-' + name" v-model="isTreeExpanded">
            <bm-tree
                :tree="tree"
                :selected="activeFolder"
                class="text-nowrap"
                :children-property="FOLDER_GET_CHILDREN"
                breakpoint="xl"
                @toggle="key => SET_FOLDER_EXPANDED({ ...folders[key], expanded: !folders[key].expanded })"
                @select="selectFolder"
            >
                <template v-slot="{ value }">
                    <mail-folder-item :folder-key="value.key" />
                </template>
            </bm-tree>
            <mail-folder-input v-if="showInput" class="pl-4" @submit="add" />
        </bm-collapse>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations, mapState } from "vuex";
import { BmButton, BmCollapse, BmIcon, BmTree } from "@bluemind/styleguide";
import MailFolderInput from "../MailFolderInput";
import MailFolderItem from "./MailFolderItem";
import { SET_FOLDER_EXPANDED } from "~/mutations";
import { CREATE_FOLDER } from "~/actions";
import { MY_MAILBOX, FOLDER_GET_CHILDREN } from "~/getters";
import { MailRoutesMixin } from "~/mixins";

export default {
    name: "MailFolderMyMailbox",
    components: {
        BmButton,
        BmCollapse,
        BmIcon,
        BmTree,
        MailFolderInput,
        MailFolderItem
    },
    mixins: [MailRoutesMixin],
    props: {
        tree: {
            type: Array,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        showInput: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            isTreeExpanded: true
        };
    },
    computed: {
        ...mapGetters("mail", { MY_MAILBOX, FOLDER_GET_CHILDREN }),
        ...mapState("mail", ["folders", "activeFolder"])
    },
    methods: {
        ...mapActions("mail", { CREATE_FOLDER }),
        ...mapMutations("mail", { SET_FOLDER_EXPANDED }),
        add(name) {
            this.CREATE_FOLDER({ name, parent: null, mailbox: this.MY_MAILBOX });
        },
        selectFolder(key) {
            this.$router.push(this.folderRoute(this.folders[key]));
        }
    }
};
</script>

<style lang="scss">
@import "~@bluemind/styleguide/css/_variables";

.mail-folder-tree .mail-folder-input svg {
    margin-left: $sp-1;
}
</style>
